@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Ogg';
    src: url('/fonts/Ogg-Roman.otf');
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

ul,li {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    text-align: center;
}

html {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
	font-family: sans-serif;
    margin: 0;
    padding: 0;
	display: block;
}

body {
    background-color: #F7F5F2;
    color: #000;
    font: 14px 'Roboto', sans-serif;
    line-height: normal;
    margin: 0;
    padding: 0;
}


.container-100 {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 0;
    
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.col-50 {
    width: 50%;
}

.col-20 {
    width: 15%;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.header {
    height: 8vh;
    height: calc(var(--vh, 1vh) * 8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #000 1px solid;
}

.site-title {
    display: flex;
    font: 32px 'Ogg', serif;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    font: 16px 'Roboto', sans-serif;
}

.contact {
    display: flex;
    justify-content: center;
}

.ig-icon {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .col-20 {width: 30%;}
}